<!--header.html-->

<head>
    <meta name="title" content="IOTA MAM Explorer">
    <meta name="og:title" content="IOTA MAM Explorer">
    <meta name="og:type" content="website" class="next-head">
    <meta name="description"
        content="The official IOTA MAM Explorer, that makes it possible to retrieve raw data from MAM streams.">
    <meta name="og:description"
        content="The official IOTA MAM Explorer, that makes it possible to retrieve raw data from MAM streams.">
    <meta name="keywords"
        content="MAM, mam explorer, IoT, Marketplace, Data, IOTA, iota foundation, DLT, dag, distributed ledger, blockchain, Internet of Things">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--FIXME: Add manifest.json-->
    <title>IOTA MAM Explorer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700%7CMaterial+Icons"
        media="all">

    <!--Add bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>